
// keyframes animations d'arrivée "opacity & translate" lente pour menus "dish" restaurants bloc1
@-webkit-keyframes slide-top {
  0% { 
    opacity: 0; 
    -webkit-transform: translateY(0);
            transform: translateY(0);
            animation-timing-function:ease-in-out
  }
  100% { 
    opacity: 1;
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
            animation-timing-function:ease-in-out
  }
}
@keyframes slide-top {
  0% { 
    opacity: 0;
    -webkit-transform: translateY(0);
            transform: translateY(0);
            animation-timing-function:ease-in-out
  }
  100% { 
    opacity: 1; 
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
            animation-timing-function:ease-in-out
  }
}

// keyframes rotation validation icone
@-webkit-keyframes rotate-check {
  from {
      -webkit-transform: rotate-(0deg);
  }
  to { 
      -webkit-transform: rotate(360deg);
  }
}
@keyframes rotate-check {
  from {
      -webkit-transform: rotate(0deg);
  }
  to { 
      -webkit-transform: rotate(360deg);
  }
}










