
// keyframes animations d'arrivée douce pour menus "dish" restaurants bloc1
@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-12px);
            transform: translateY(-12px);
  }
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-12px);
            transform: translateY(-12px);
  }
}



@-webkit-keyframes rotate-check {
  from {
      -webkit-transform: rotate-(0deg);
  }
  to { 
      -webkit-transform: rotate(360deg);
  }
}
@keyframes rotate-check {
  from {
      -webkit-transform: rotate(0deg);
  }
  to { 
      -webkit-transform: rotate(360deg);
  }
}










