// SPINNER INTRO 
.spinner {
    border-top: 10px solid $color-secondary;
    border-bottom: 10px solid $color-tertiary;
    border-radius: 50%;
    display: flex;
    width: 125px;
    height: 125px;
    margin: auto;
    animation: spin 1.2s linear infinite;  // ROTAION 3S LINEAIRE INFINI
    position: absolute;
    justify-content: space-evenly;
    align-items: center;
    top: 0; left:0; right:0; bottom: 0;
    z-index: -1000;
    pointer-events: none;
    opacity: 1;
            
    p {
        animation: spin2 1.2s linear infinite;  // ROTAION 3S LINEAIRE INFINI
        color: $color-hoverfun;
        text-shadow: 1px 1px 2px rgb(105, 105, 105);
        opacity: 1;
        border-radius: 50%;
        font: {
            family: $font-family-logo;
            size: $font-size-big;
            
        }
    }
}
.fadeout {
    animation: fadeout ease 4s;
    z-index: 1000;
 
}
 
@keyframes spin {  
    0% {
        transform: rotate(0deg);
        display: flex;
    }
    100% {
        transform: rotate(360deg);
        display: none;
    }
}


@keyframes spin2 {  
    100% {
        transform: rotate(0deg)
    }
    0% {
        transform: rotate(360deg) ;
    }
}

@keyframes fadeout {
    100% {
      opacity:0;
    }
    0% {
      opacity:1;
    }
  }


