/*--- BASE GÉNÉRALE DU SITE ----*/

*, *:before, *:after   /*-- box-sizing pour gérer les dimensions  --*/
{
    box-sizing: border-box;  /*- résoudre pbm padding & marging pour calcul des box et des % par exemple-*/
    text-decoration: none; 
    border: none;
}

$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-darkgrey: #eaeaea;
$color-softgrey: #f6f6f6;
$color-bloc: white;
$color-picto: black;


$font-family-title: 'roboto';
$font-size-regular: 1.4em;
$font-size-small: 1.2em;
$font-size-big: 1.8em;

// centrage Version mixin
@mixin center() {
    align-content: center;
    text-align: center;
}

body{
    margin: 0;
    background-color: $color-darkgrey;
}

#bloc_page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1440px; 
    width: 100%;
    margin: auto;        /*-- centrage complet du site --*/
}    

.logo {
    background-color: $color-bloc;
    .logo__ohmyfood {
        @include center();
        padding: 20px;
    }
}
 .search {
    display: flex;
    justify-content: center;
    background-color: $color-darkgrey;
    box-shadow: 0px 10px 10px -10px #cfcfcf inset;
    padding-top: 20px;
   
 }
 

h1 { 
    font: {
        size: $font-size-big;
        family: $font-family-title;
    } 
    text-align: center;
    padding: 10px 20px 0 20px;
}

p {
    font: {
        size: $font-size-small;
        family: $font-family-title;
    } 
    text-align: center;
}
#central_main {
    background-color: $color-bloc;

}


.function {
    text-align: center;
    display: flex;
    justify-content: center; 
    background-color: $color-bloc;   
    .function__button {
        color: $color-picto; 
        display: flex;
        align-items: baseline;
        width: 85%;
        max-width: 400px;;
        justify-content: space-between;
        padding: 0;
        border-radius: 30px;  
        outline: none;      
        .function__button__number {
            color: $color-bloc;
            border-radius: 50%;
            background: $color-primary;
            +.fa-mobile-alt {
                font-size: 1.5em;
            }
            
        }
    }

}

.function p
{
    padding: 0 8% 0 8%;
}





