/*--- BASE GÉNÉRALE DU SITE ----*/

*, *:before, *:after   /*-- box-sizing pour gérer les dimensions  --*/
{
    box-sizing: border-box;  /*- résoudre pbm padding & marging pour calcul des box et des % par exemple-*/
    text-decoration: none; 
    border: none;
}

// importation du fichier _utils.scss
@import "utils";

// importation du fichier _base.scss
@import "base";

// importation du fichier _spinner.scss
//@import "spinner";   


body{
    margin: 0;
    background-color: $color-darkgrey;
}

#bloc_page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1440px; 
    width: 100%;
    margin: auto;/* <-- centrage complet du site */
}    

.logo {
    background-color: $color-bloc;
    .logo__ohmyfood {
        @include center();
        padding-top: 20px;
        color: $color-picto;
        margin: 0;
        letter-spacing: 1px;
        font: {
            size: $font-size-big;
            family: $font-family-logo;
        }
    }
}
 .search {
    display: flex;
    justify-content: center;
    background-color: $color-darkgrey;
    align-items: baseline;
    box-shadow: 0px 10px 10px -10px #cfcfcf inset;
    padding: 20px 20px 20px 60px;
    
    input {
        background-color: $color-darkgrey;
    }
    .search__space {
        padding-left: 3px;
        margin-left: 10px;
        font-size: $font-size-xsmall;
    }
 }

/*-- INTRO --*/
 .intro {
     flex-direction: column;
     align-items: center;
     display: flex;
     background-color: $color-softgrey;
     h1 { 
        font: {
            size: $font-size-regular;
            family: $font-family-title;
        } 
        text-align: center;
        padding: 10px 50px 0 50px;        
    }
    p {
        font: {
            family: $font-family-title;   
            size: $font-size-small;
            weight: lighter;           
        }
        text-align: center;
        margin-top: 0;
    }
    .intro__btn {
        font: {
            size: $font-size-xsmall;
            family: $font-family-title;
        } 
        color: $color-bloc;
        box-shadow: 0px 10px 10px -10px #cfcfcf;
        border-radius: 25px;
        margin-bottom: 40px;
        width: 60%;
        height: 50px;
        background: $color-gradient;
    }
 }
/*-- CENTRAL FONCTIONNEMENT--*/
#function_central {
    background-color: $color-bloc;
    h2 {
        font: {
            size: $font-size-regular;
            family: $font-family-title;
        }
        padding-left: 15px;
        margin-top: 40px;
    }
    .function {
        justify-content: center;
        display: flex;
        .function__button {
            width: 85%;
            height: 70px;
            justify-content: center;
            border-radius: 22px;
            position: relative;
            @include box-shadow();
            transition-duration: 0.4s;
            &.function__button:hover {
                background-color: #e4ddfd;
                .fa-mobile-alt{
                    color: $color-primary;
                } 
                
            }

            .function__number {
                position: absolute;
                border-radius: 50%;
                background-color: $color-primary;
                color: $color-bloc;
                height: 24px;
                width: 24px;
                line-height: 26px;
                left: -10px;
                bottom: 26px;
            }
            .function__button_in {
                display: flex;
                justify-content: space-around;
                align-items: baseline;
                .fa-mobile-alt {
                    font-size: $font-size-regular;
                    color: rgb(92, 92, 92);
                    padding-left: 15px;                    }
                p {
                    font-size: $font-size-small;
                    padding-right: 35px;
                }
            }
        }
    }

}













